<div class="comment">
    <div class="commentContainer">
        {{#if c_image}}
        <img class="pfp" name="profilePicture" src="/{{c_image.c_filepath}}">
        {{else}}
        <img class="pfp" name="profilePicture" src="https://upload.wikimedia.org/wikipedia/commons/a/af/Default_avatar_profile.jpg">
        {{/if}}
    </div>
    <div class="commentTextContainer">
        <h4 name="username">{{c_username}}</h4>
        <span name="date">{{c_Date}}</span>
        {{#if c_has_been_edited}}
        <span>Edited</span><br>
        {{/if}}
        <p name="commentText">{{c_body}}</p>
        <div class="buttonsContainer editCommentButtons">
            <button id="attachFilesComment">Attach Files</button>
            <button id="postComment" onclick="editCommentDiv(this); window.alert('To Be Done')">Edit Comment</button>
        </div>
            <div class="commentActionsContainer">
            <i class="fa-solid fa-thumbs-up" id="like_{{c_id}}"></i>
            <span name="numLikes"> {{c_numLikes}}</span>
            <i class="fa-solid fa-thumbs-down" id="dislike_{{c_id}}"></i>
            <span name="numDislikes"> {{c_numDislikes}}</span>
            <button class="replyButton" onclick="toggleReplyComment(this)">Reply</button>
            {{#if c_isAuthor}}
            <button onclick="editCommentDiv(this)">Edit</button>
            <button class="deleteCommentButton" onclick="window.alert('To Be Done')">Delete</button>
            {{/if}}

            <div class="createComment replyComment">
                <div class="draftReplyComment" contenteditable="true" placeholder="Enter your reply here" oninput="if(this.innerHTML.trim()==='<br>')this.innerHTML=''"></div>
                <div class="buttonsContainer">
                    <button id="attachFilesComment">Attach Files</button>
                    <button id="postComment" onclick="window.alert('To Be Done')">Reply</button>
                </div>
            </div>
        </div>

        {{#each replies}}
            {{> comment this}}
        {{/each}}
    </div>
</div>