<div class="comment">
    <div class="commentContainer">
        {{#if c_image.c_filepath}}
        <img class="pfp" name="profilePicture" src="/{{c_image.c_filepath}}">
        {{else}}
        <img class="pfp" name="profilePicture" src="https://upload.wikimedia.org/wikipedia/commons/a/af/Default_avatar_profile.jpg">
        {{/if}}
    </div>
    <div class="commentTextContainer">
        <h4 name="username">{{c_u_OID.u_displayname}}</h4>
        <span name="date">{{c_date}}</span>
        {{#if c_has_been_edited}}
        <span>Edited</span><br>
        {{/if}}
        <p name="commentText" class="body-for-text">{{c_body}}</p>
        <div class="buttonsContainer editCommentButtons">
            
            <!--<button id="attachFilesComment">Attach Files</button> -->
            <button id="postComment" onclick="editCommentDiv(this);" data-comment-id="{{_id}}" class="button-for-edit">Edit Comment</button>
            <!-- <button id="postComment" onclick="editCommentDiv(this); window.alert('To Be Done')" data-comment-id="{{_id}}" class="button-for-edit">Edit Comment</button> -->
        </div>
        <div class="commentActionsContainer">
            {{#if login_id}}
            <i class="fa-solid fa-thumbs-up upvote-icon-comment" data-comment-id="{{_id}}"></i>
            <span class="upvote-count-comment">{{c_upvotes}}</span>
            <i class="fa-solid fa-thumbs-down downvote-icon-comment" data-comment-id="{{_id}}"></i>
            <span class="downvote-count-comment">{{c_downvotes}}</span>
            {{else}}
            <i class="fa-solid fa-thumbs-up"></i>
            <span class="upvote-count-comment">{{c_upvotes}}</span>
            <i class="fa-solid fa-thumbs-down"></i>
            <span class="downvote-count-comment">{{c_downvotes}}</span>
            {{/if}}
            {{#if login_id}}
            <button class="replyButton" onclick="toggleReplyComment(this)">Reply</button>
            {{#if c_isAuthor}}
            <button onclick="editCommentDiv(this)">Edit</button>
            <button class="deleteCommentButton" data-comment-id="{{_id}}">Delete</button>
            <!-- <button class="deleteCommentButton" onclick="window.alert('To Be Done')">Delete</button>-->
                {{/if}}
            {{else}}
            {{/if}}
            <form name="create-comment" action="/api/comment/createComment" method="post">
                <div class="createComment replyComment">
                    <input id="draftComment" name="commentText" type="text" contenteditable="true" placeholder="Enter your comment here" oninput="if(this.innerHTML.trim()==='<br>')this.innerHTML=''"></input>
                    <div class="buttonsContainer">
                        <button id="attachFilesComment" onclick="window.alert('To Be Done')">Attach Files</button>
                        <button id="postComment">Reply</button>
                    </div>
                </div>
                <input type="hidden" name="post_id" value="{{c_post_id}}">
                <input type="hidden" name="parentComment" value="{{_id}}">
            </form>
        </div>
        {{#if login_id}}
            {{#each replies}}
                {{> comment this login_id=true}}
            {{/each}}
        {{else}}
            {{#each replies}}
                {{> comment this}}
            {{/each}}
        {{/if}}
    </div>
</div>