{{#if isLoggedIn}}
    {{> header_logged}}
{{else}}
    {{> header}}
{{/if}}

<div class="blur-left cards-container" style="margin: 0px 300px 0px 300px;">
    <div class="cards-top">
        <button onclick = "togglePopup()">Add Post</button>
        <div class="description-post"><strong>POSTS</strong></div>
        <form name="main-login-form" action="/api/post/getPost" method="GET">
            <div style="display:flex; gap:10px">
                <div class="search-post">
                    <input type="text" class="search-bar" name="query"></div>
                <div class="custom-select">
                    <select name="tags">
                        <option>Genshin Impact</option>
                        <option>Honkai Star Rail</option>
                        <option>Honkai Impact</option>
                        <option>Zenless Zone Zero</option>
                        <option>Mihoyo</option>
                    </select>
                    <select name="sort">
                        <option value="p_rating">Hottest</option>
                        <option value="p_date">Newest</option>
                    </select>
                </div>
                <input type="submit">
            </div>
        </form>
    </div>


    {{#each postdetails}}
    <div class="cards">
        <div style="display: flex; justify-content: space-between;">
            <span class="title-post"><strong>{{p_title}}</strong></span>
            <input type="button" value="Delete">
        </div>
        <span class="user-post">{{p_u_OID.u_username}}</span>
        <div class="date-post"><strong>{{p_date}}</strong></div>
        <div class="description-post">{{p_body}}<br><br></div>
        <div class="tags"><button style="margin-right:10px;">{{p_tags}}</button></div>
        <div class="img-div-post"><img src="/{{p_image.p_filepath}}" class="img-post"></div>
        <br>
        <input type="button" onclick="navigateToPostPage('{{_id}}')" value="See More">
    </div>
    {{/each}}


<div class = "popup" id = "popup_js">
    <div class="for-center-create">
        <div class="blur-left post-form-container">
            <h1><strong>Create Post</strong></h1>
            <form class="create-post-form">
                    <div class = "close-btn" onclick="location.href = 'main_page.html'">&times;</div>
                    <label>Title</label>
                    <input type="text" placeholder="Enter Title" class="create-select-tag" style="width:50%">
                    <label>Tag</label>
                    <select style="width:50%">
                        <option>Genshin Impact</option>
                        <option>Honkai Star Rail</option>
                        <option>Honkai Impact</option>
                        <option>Zenless Zone Zero</option>
                        <option>Mihoyo</option>
                    </select>
                    <label>Content</label>
                <textarea class="create-post-textarea"></textarea>
                <input type="file" style="width:50%">
                <input type="button" onclick="location.href='main_page.html'" value="Create Post">
            </form>
        </div>
    </div>
</div>
<script src="/common/modal.js"></script>

<script>
function navigateToPostPage(id) {
    const url = `/api/post/getPost/${id}`;
    window.location.href = url;
}


</script>