
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <div class="main-post-container">
        <div class="post" data-post-id="{{postdetails._id}}">
            <h1 class="main-post-title">{{postdetails.p_title}}</h1>
            <div class="authorContainer">
                <img class="pfp" src="https://via.placeholder.com/300x150"> 
                <div class="authorTextContainer">
                    <p class="authorName">{{postdetails.p_u_OID.u_username}}</p>
                    <p class="dateText">{{postdetails.p_date}}</p>
                </div>
            </div>
            <p class="main-post-description">
                {{postdetails.p_body}}
            </p>
            <img class="post-img" src="/{{postdetails.p_image.p_filepath}}">
            <br>
            <div class="tagsContainer">
                <div class="tag">{{postdetails.p_tags}}</div>
            </div>
            <br>


            <i class="fa-solid fa-thumbs-up upvote-icon"></i>
            <span class="downvote-count">{{postdetails.upvotes}}</span>
            <i class="fa-solid fa-thumbs-down downvote-icon"></i>
            <span class="upvote-count">{{postdetails.downvotes}}</span>








        </div>
        <div class="comments-container">
            <h2>Comments</h2>
            <div class="createComment">
                <div id="draftComment" contenteditable="true" placeholder="Enter your comment here" oninput="if(this.innerHTML.trim()==='<br>')this.innerHTML=''"></div>
                <div class="buttonsContainer">
                    <button id="attachFilesComment">Attach Files</button>
                    <button id="postComment">Post</button>
                </div>
            </div>
            <div class="comment">
                <div class="commentContainer">
                    <img class="pfp" src="https://upload.wikimedia.org/wikipedia/commons/a/af/Default_avatar_profile.jpg">
                </div>
                <div class="commentTextContainer">
                    <h4>Focalors</h4>
                    <p>Hyped for this!</p>
                    <div class="buttonsContainer editCommentButtons">
                        <button id="attachFilesComment">Attach Files</button>
                        <button id="postComment" onclick="editCommentDiv(this)">Edit Comment</button>
                    </div>

                    <div class="commentActionsContainer">
                        <i class="fa-solid fa-thumbs-up"></i>
                        <span> 123</span>
                        <i class="fa-solid fa-thumbs-down"></i>
                        <span> 123</span>
                        <button class="replyButton" onclick="toggleReplyComment(this)">Reply</button>
                        <button onclick="editCommentDiv(this)">Edit</button>
                        <button class="deleteCommentButton">Delete</button>

                        <div class="createComment replyComment">
                            <div class="draftReplyComment" contenteditable="true" placeholder="Enter your reply here" oninput="if(this.innerHTML.trim()==='<br>')this.innerHTML=''"></div>
                            <div class="buttonsContainer">
                                <button id="attachFilesComment">Attach Files</button>
                                <button id="postComment">Reply</button>
                            </div>
                        </div>

                        <div class="comment">
                            <div class="commentContainer">
                                <img class="pfp" src="https://upload.wikimedia.org/wikipedia/commons/a/af/Default_avatar_profile.jpg">
                            </div>
                            <div class="commentTextContainer">
                                <h4>Tuonto</h4>
                                <p>Sekai de ichiban ohime-sama</p>
                                <div class="commentActionsContainer">
                                    <i class="fa-solid fa-thumbs-up"></i>
                                    <span> 123</span>
                                    <i class="fa-solid fa-thumbs-down"></i>
                                    <span> 123</span>
                                    <button class="replyButton" onclick="toggleReplyComment(this)">Reply</button>
            
                                    <div class="createComment replyComment">
                                        <div class="draftReplyComment" contenteditable="true" placeholder="Enter your reply here" oninput="if(this.innerHTML.trim()==='<br>')this.innerHTML=''"></div>
                                        <div class="buttonsContainer">
                                            <button id="attachFilesComment">Attach Files</button>
                                            <button id="postComment">Post</button>
                                        </div>
                                    </div>
                                </div>
                            </div>            
                        </div>
                    </div>
                </div>            
            </div>
            <div class="comment">
                <div class="commentContainer">
                    <img class="pfp" src="https://upload.wikimedia.org/wikipedia/commons/a/af/Default_avatar_profile.jpg">
                </div>
                <div class="commentTextContainer">
                    <h4>Tuonto</h4>
                    <p>Oratrice Mecanique d'Analyse Cardinale</p>
                    <div class="commentActionsContainer">
                        <i class="fa-solid fa-thumbs-up"></i>
                        <span> 123</span>
                        <i class="fa-solid fa-thumbs-down"></i>
                        <span> 123</span>
                        <button class="replyButton" onclick="toggleReplyComment(this)">Reply</button>

                        <div class="createComment replyComment">
                            <div class="draftReplyComment" contenteditable="true" placeholder="Enter your reply here" oninput="if(this.innerHTML.trim()==='<br>')this.innerHTML=''"></div>
                            <div class="buttonsContainer">
                                <button id="attachFilesComment">Attach Files</button>
                                <button id="postComment">Post</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/common/modal.js"></script>
    <script src="/common/post_page.js"></script>
