{{#if isLoggedIn}}
    {{> header_logged}}
{{else}}
    {{> header}}
{{/if}}
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <div class="main-post-container">
        <div class="post" data-post-id="{{postdetails._id}}">
            <h1 class="main-post-title">{{postdetails.p_title}}</h1>
            <div class="authorContainer">

                {{#if isLoggedIn}}
                    {{#if c_image}}
                        <img class="pfp" name="profilePicture" src="/{{c_image.c_filepath}}" onclick="window.location.href='/api/user/profile/{{postdetails.p_u_OID._id}}?isLoggedIn=true';">
                    {{else}}
                        <img class="pfp" name="profilePicture" src="https://upload.wikimedia.org/wikipedia/commons/a/af/Default_avatar_profile.jpg" onclick="window.location.href='/api/user/profile/{{postdetails.p_u_OID._id}}?isLoggedIn=true';">
                    {{/if}}
                {{else}}
                    {{#if c_image}}
                        <img class="pfp" name="profilePicture" src="/{{c_image.c_filepath}}" onclick="window.location.href='/api/user/profile/{{postdetails.p_u_OID._id}}'">
                    {{else}}
                        <img class="pfp" name="profilePicture" src="https://upload.wikimedia.org/wikipedia/commons/a/af/Default_avatar_profile.jpg" onclick="window.location.href='/api/user/profile/{{postdetails.p_u_OID._id}}';">
                    {{/if}}
                {{/if}}
                <div class="authorTextContainer">
                    <p class="authorName">{{postdetails.p_u_OID.u_username}}</p>
                    <p class="dateText">{{postdetails.p_date}}</p>
                </div>
            </div>
            <p class="main-post-description">
                {{postdetails.p_body}}
            </p>
            <img class="post-img" src="/{{postdetails.p_image.p_filepath}}">
            <br>
            <div class="tagsContainer">
                <div class="tag">{{postdetails.p_tags}}</div>
            </div>
            <br>

            {{#if isLoggedIn}}
            <i class="fa-solid fa-thumbs-up upvote-icon"></i>
            <span class="downvote-count">{{postdetails.upvotes}}</span>
            <i class="fa-solid fa-thumbs-down downvote-icon"></i>
            <span class="upvote-count">{{postdetails.downvotes}}</span>
            {{else}}
            <i class="fa-solid fa-thumbs-up"></i>
            <span class="downvote-count">{{postdetails.upvotes}}</span>
            <i class="fa-solid fa-thumbs-down"></i>
            <span class="upvote-count">{{postdetails.downvotes}}</span>
            {{/if}}

        </div>
        <div class="comments-container">
            <h2>Comments</h2>
            <div class="createComment">
                <div id="draftComment" contenteditable="true" placeholder="Enter your comment here" oninput="if(this.innerHTML.trim()==='<br>')this.innerHTML=''"></div>
                <div class="buttonsContainer">
                    <button id="attachFilesComment" onclick="window.alert('To Be Done')">Attach Files</button>
                    <button id="postComment">Post</button>
                </div>
            </div>
            {{#each commentdetails}}
                {{> comment this}}
            {{/each}}
        </div>
    </div>

    <script src="/common/modal.js"></script>
    <script src="/common/post_page.js"></script>
