{{#if isLoggedIn}}
    {{> header_logged}}
{{else}}
    {{> header}}
{{/if}}

    <div class="blur profile-bar">
        <div>
            <div class="profile-circle-holder">
            </div>
            <div class="profile-details-container">
                <div class="profile-username">{{user.u_username}}</div>
                <button onclick = "togglePopup()">Edit</button>
                
            </div>

        </div> 
        <div class="description-container">
            <p class="profile-description">{{user.u_description}}</p>
        </div>
        

    </div>
    <div class="profile-container2">
        <div class="blur-left profile-post-container">
            <div class="profile-post-header">
                <div class="title-post"><strong>POSTS</strong></div>
            </div>
            {{#each posts}}
            <div class="cards">
                <div class="title-post"><strong>{{p_title}}</strong></div>
                <div class="description-post"> {{p_body}}</div>
                <button id="update">Update</button>
                <button class="more" id="delete">Delete</button>
            </div>
            {{/each}}
        </div>
        <div class="blur-right comments-container">
            <div class="comment-container" style="padding:10px;">
                <div class="profile-comment-header"><strong>Comments</strong></div>
            </div>

            <!--Edit here comments -->
            {{#if isLogged_in}}
            {{#each comments}}
                <div class="comment-container">
                    <div class="comments">{{c_body}}</div>
                    <a href="/api/post/getPost/{{c_post_id}}?isLoggedIn=true">Link to Post</a>
                </div>
            {{/each}}
            {{else}}
            {{#each comments}}
            <div class="comment-container">
                <div class="comments">{{c_body}}</div>
                <a href="/api/post/getPost/{{c_post_id}}">Link to Post</a>
            </div>
            {{/each}}
            {{/if}}
        </div>
    </div>

    <!-- popout -->
    <div class = "popup" id = "popup_js">
        
        <div class="blur-bottom update-profile-container">
            <h1 style="text-align: center;">Update Profile</h1>
            <form class='Update-form'>
                
                <div class="input-box">
                    <label>Email</label>
                    <input type="email">
                    <div class = "close-btn" onclick="window.location.reload();">&times;</div>
                </div>
                <div class="input-box">
                    <label>Password</label>
                    <input type="password" class="password">
                </div>
                <div class="input-box">
                    <label>Profile Pic</label>
                    <input type="file" class="Profile Pic">
                </div>
                <div class="input-box">
                    <label>Description</label>
                    <input type="text" class="form-profile-description">
                </div>
                <input type="button" onclick="location.href='main_page.html'" value="Submit">
            </form>      
        </div>
    </div>

<!-- popup for  UPDATE BUTTON-->
<div class = "popup" id = "popup_js2">
        <div class="for-center-create">
        <div class="blur-left post-form-container">
            <h1><strong>Update Post</strong></h1>
            
            <form class="create-post-form" name="create-post-form" action="/api/post/createPost" method="POST" enctype="multipart/form-data">
                
                <div class = "close-btn" id="close-btn">&times;</div>
                <label>Title</label>
                <input type="text" placeholder="Enter Title" class="create-select-tag" style="width:50%" name="title">
                <label>Tag</label>
                    <select style="width:50%" name="tags">
                        <option>Genshin Impact</option>
                        <option>Honkai Star Rail</option>
                        <option>Honkai Impact</option>
                        <option>Zenless Zone Zero</option>
                        <option>Mihoyo</option>
                    </select>
                <label>Content</label>
                <input type="hidden" name="id" value="66776c6fb5909970e7f38836">
                <textarea class="create-post-textarea" name="body"></textarea>
                <input type="file" style="width:50%" name="image">
                <input type="submit" value="submit">
                
            </form>
            <div class = "close-btn" id="close-btn">&times;</div>
            <h1> <strong>This feature is Coming Soon! Wait for Updates!</strong></h1>
        </div>
    </div>
</div>


<!-- popup for  DELETE BUTTON-->
<div class = "popup" id = "popup_js3">
        <div class="for-center-create">
        <div class="blur-left post-form-container">
            <div class = "close-btn" id="close-btn2">&times;</div>
            <h1> <strong>This feature is Coming Soon! Wait for Updates!</strong></h1>
        </div>
    </div>
</div>



<script src="/common/modal.js"></script>