{{#if login_id}}
    {{> header_logged}}
{{else}}
    {{> header}}
{{/if}}

    <div class="blur profile-bar">
        <div>
            <div class="profile-circle-holder" style="background-image: url('/{{user.u_image.u_filepath}}');">
                {{#if user.u_image.u_filepath}}
                <img src="/{{user.u_image.u_filepath}}">
                {{else}}
                <img src="/{{user.u_image.u_filepath}}">
                {{/if}}
            </div>
            <div class="profile-details-container">
                <div class="profile-username">{{user.u_displayname}}</div>

                
            </div>

        </div> 
        <div>
            {{#if hasPrivelage}}
                <button onclick = "togglePopup('popup_js')">Edit</button>
                <button id="delete-account-button" data-userid="{{user._id}}">Delete Account</button>
            {{/if}}
        </div>
        <div class="description-container">
            <p class="profile-description">{{user.u_description}}</p>
        </div>
        

    </div>
    <div class="profile-container2">
        <div class="blur-left profile-post-container">
            <div class="profile-post-header">
                <div class="title-post"><strong>POSTS</strong></div>
            </div>
            {{#each posts}}
            <div class="cards">
                <a href="/api/post/getPost/{{_id}}" style="color:white">
                    <div class="title-post"><strong>{{p_title}}</strong></div>
                </a>
                <div class="description-post"> {{p_body}}</div>
                {{#if ../hasPrivelage}}
                    <button id="update">Update</button>
                    <input type="hidden" class="post-id" value="{{_id}}">
                    <button class="delbutton" id="delete">Delete</button>
                {{/if}}
            </div>
            {{/each}}
        </div>
        <div class="blur-right comments-container">
            <div class="comment-container" style="padding:10px;">
                <div class="profile-comment-header"><strong>Comments</strong></div>
            </div>

            <!--Edit here comments -->
            {{#if login_id}}
            {{#each comments}}
                <div class="comment-container">
                    <div class="comments">{{c_body}}</div>
                    <a href="/api/post/getPost/{{c_post_id}}">Link to Post</a>
                </div>
            {{/each}}
            <!--
            {{else}}
            {{#each comments}}
            <div class="comment-container">
                <div class="comments">{{c_body}}</div>
                <a href="/api/post/getPost/{{c_post_id}}">Link to Post</a>
            </div>
            {{/each}}
            {{/if}}
            -->
        </div>
    </div>

    <!-- popout -->
    <div class = "popup" id = "popup_js">
        
        <div class="blur-bottom update-profile-container">
            <h1 style="text-align: center;">Update Profile</h1>
            <form class='Update-form' id="update-the-user" name="update-the-user">
                
                <div class="input-box">
                    <label>Display Name</label>
                    <input type="displayname" name="displayname" value="{{user.u_displayname}}">
                    <div class = "close-btn" onclick="window.location.reload();">&times;</div>
                </div>
                <div class="input-box">
                    <label>Password</label>
                    <input type="password" class="password" name="password">
                </div>
                <div class="input-box">
                    <label>Profile Pic</label>
                    <input type="file" class="profile-Pic" name="image">
                </div>
                <div class="input-box">
                    <label>Description</label>
                    <input type="text" class="form-profile-description" name="description" value="{{user.u_description}}">
                </div>
                <input type="hidden" name="id" value={{login_id}}>
                <input type="submit" value="update-profile" id="submit-update-profile">
            </form>      
        </div>
    </div>

<!-- popup for  UPDATE BUTTON-->
<div class = "popup" id = "popup_js2">
        <div class="for-center-create">
        <div class="blur-left post-form-container">
            <h1><strong>Update Post</strong></h1>
            <form class="create-post-form" id="update-form-form" name="update-post-form">
                <div class = "close-btn" id="close-btn">&times;</div>
                <label>Title</label>
                <input type="text" placeholder="Enter Title" class="create-select-tag" style="width:50%" name="title">
                <label>Tag</label>
                    <select style="width:50%" name="tags">
                        <option>Genshin Impact</option>
                        <option>Honkai Star Rail</option>
                        <option>Honkai Impact</option>
                        <option>Zenless Zone Zero</option>
                        <option>Mihoyo</option>
                    </select>
                <label>Content</label>
                <input type="hidden" name="user_id" value={{login_id}}>
                <input type="hidden" name="post_id" value="">
                <textarea class="create-post-textarea" name="body"></textarea>
                <input type="file" style="width:50%" name="image">
                <input type="submit" value="Update" id="submit-update">
                
            </form>
            <div class = "close-btn" id="close-btn">&times;</div>
        </div>
    </div>
</div>


    <!-- popup for DELETE BUTTON-->
    <div class="popup" id="popup_js3">
        <div class="for-center-create">
            <div class="blur-left post-form-container">
                <div class="close-btn" id="close-btn2" onclick="hidePopup('popup_js3')">&times;</div>
                <h1><strong>Are you sure you want to delete your account?</strong></h1>
                <button id="confirm-delete-account" data-userid="{{user._id}}">Yes, delete</button>
                <button id="no">Cancel</button>
            </div>
        </div>
    </div>



<script src="/common/modal.js"></script>